@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Montserrat+Alternates:wght@400;500;600;700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

header {
    position: fixed;
    z-index: 5;
    width: 100%;
    background: var(--primary-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 30px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* This is navigation bar styling part start */
header .nav-bar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.nav-bar .nav-menu {
    display: flex;
    gap: 10px;
}

.nav-bar :where(#menu-open-button, #menu-close-button) {
    display: none !important;
}

.nav-bar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    font-family: "Pacifico", sans-serif;
} 

.nav-bar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}

.nav-bar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

/* This is introduction styling part start */
.intro-section {
    background: var(--primary-color);
    min-height: 100vh;
}

.intro-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.intro-section .intro-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Londrina Sketch", sans-serif;
}

.intro-section .intro-details .subtytle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.intro-section .intro-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.fisher-img-wrapper {
    max-width: 100%;
    margin: 20px;
}

/* This is introduction styling part start */
.about-section {
    padding: 120px 0;
    background: vat(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
    justify-content: space-between;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 20px 0 60px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;  
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
}

.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
    
}

.menu-section {
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1; 
    margin-bottom: 15px;
    object-fit: contain;
}

.menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m);
}

.menu-section .menu-list .menu-item .name {
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);

}

@media screen and (max-width: 1024px) {

    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 3 - 60px);
    }

}

@media screen and (max-width: 900px) {

    :root {
        --font-size-s: 0.7rem;
        --font-size-n: 0.8rem;
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    .nav-bar :where(#menu-close-button, #menu-open-button) {
        display: block !important;
        font-size: var(--font-size-l);
    }

    .nav-bar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .nav-bar #menu-open-button {
        color: var(--white-color);
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left:  0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.2);
    }

    .nav-bar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .nav-bar .nav-menu {
        left: 0;
    }

    .nav-bar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .intro-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .intro-section .fisher-img-wrapper {
        max-width: 270px;
        padding: 20px;
        margin-right: 0;
    }
    
    .intro-section .intro-details :is(.subtytle, .description), .about-section .about-details {
        max-width: 100%;
    }

    .about-section .section-content {
        gap: 70px;
        flex-direction: column;
    } 

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        max-width: 250px;
    }

    .menu-section .menu-list {
        gap: 30px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-list .menu-item .menu-image {
        max-width: 200px;
    }

}
